# Default GA config

ga:
  population: 128
  generations: 200
  elite: 8
  tournament_k: 5
  crossover_alpha: 0.5
  mutation_sigma: 0.15
  mutation_p: 0.2
  seed: 0

design:
  seed_size: 16
  struct_size: 128
  enforce_symmetry: true

generator:
  backend: rule_mfs
  blur_sigma: 2.0
  threshold: 0.45
  mfs_radius_px: 8
  mfs_iters: 2

spectra:
  channels: 30
  wavelength_min_nm: 400.0
  wavelength_max_nm: 700.0
  rgb_weights:
    R: 1.0
    G: 2.0
    B: 1.0

loss:
  w_purity: 1.0
  w_abs: 0.0
  w_fill: 1.0
  fill_min: 0.2
  fill_max: 0.5

io:
  topk: 8
  print_every: 10
